*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
   background-color: black;
   width: 700px;
   color: aliceblue;
   margin: auto;
   padding: 50px;
   border: 5px solid chocolate;
   border-radius: 10px;
}

.rede-social h2{
   text-align: center;
}

.rede-social ul{
  padding: 0;
  list-style: none;
  text-align: center;
}

.rede-social li{
  margin-bottom: 12px;
}

.rede-social a{
  text-decoration: none;
  color: royalblue;
}

.rede-social a:hover{
  color: red;
}